$colorPrimary: #43c59e
$colorPrimaryHover: #18dca6
$colorBody: #0e1f50
$colorDarkBody: #041133
$colorSecondary: #a3a4a7
$colorSecondaryHover: #cfd5e4
$colorWhite: #ffffff
$colorWhiteHover: #fafbfd

body
  font-family: 'Poppins','sans-serif'
  color: $colorBody
  @apply text-sm leading-6

input,
textarea,
button,
select,
a,
div
  -webkit-tap-highlight-color: rgba(0,0,0,0)

a
  color: $colorPrimary

h1, h2, h3, h4, h5, h6
  font-size: default
  font-weight: default

ol, ul
  list-style: initial
  @apply ml-8

hr
  color: $colorSecondaryHover

header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  transition: box-shadow .5s
  @apply bg-white py-4

header.scrolled
  box-shadow: rgb(14 31 80 / 30%) 0px 2px 12px

.site-content
  margin-top: 80px

.container
  @apply px-48

.section
  &-standart
    @apply py-36 relative
    &-bottom
      @apply pb-36 relative
  &-deepblue
    @apply py-36 mt-24 relative

.ft
  &-h
    font-family: 'Montserrat Alternates','Open Sans','sans-serif'
    &-bold
      font-family: 'Montserrat Alternates','Open Sans','sans-serif'
    &-article
      font-family: 'Poppins','Open Sans','sans-serif'
      font-weight: 600
  &-b
    font-family: 'Poppins','Open Sans','sans-serif'

.btn
  font-family: 'Montserrat Alternates','Open Sans','sans-serif'
  color: $colorPrimary
  border: 1px solid $colorPrimary
  transition: .2s all
  @apply px-8 py-3 font-semibold rounded-lg
  &:hover
    color: $colorPrimaryHover
    border-color: $colorPrimaryHover
  &-primary
    color: $colorWhite
    background-color: $colorPrimary
    border-color: $colorPrimary
    box-shadow: rgb(67 197 158 / 30%) 0px 2px 12px
    &:hover
      color: $colorWhite
      border-color: $colorPrimaryHover
      background-color: $colorPrimaryHover
  &:active
    transform: scale(0.98)

.navbar
  font-family: 'Montserrat Alternates','Open Sans','sans-serif'
  color: $colorBody
  @apply relative flex items-center cursor-pointer
  &:hover, 
  &[active="true"]
    color: $colorPrimary
  &-child
    display: none
    background-color: $colorWhite
    box-shadow: rgb(67 197 158 / 30%) 0px 2px 12px
    min-width: 180px
    width: auto
    @apply absolute gap-4 py-3 px-1 left-0 top-0 rounded-lg z-10
    margin-top: 35px
  &:hover &-child
    display: block
  &-wrapper
    @apply flex
    &-sidebar
      @apply hidden
  &-click
    @apply hidden

.illustration
  &-hero
    position: absolute
    top: 0
    left: 0
    width: 550px
    &-bg
      width: 500px
      height: auto
.waves
  &-deepblue
    &-top
      position: absolute
      top: -75px
      left: 0
      width: 100%
      height: 80px
      background-image: url(/img/waves/deepblue.svg)
      background-size: cover
    &-bottom
      position: absolute
      bottom: -75px
      left: 0
      width: 100%
      height: 80px
      background-image: url(/img/waves/deepblue.svg)
      background-size: cover
      transform: rotateX(180deg)
  &-deepdarkblue
    &-top
      position: absolute
      top: -75px
      left: 0
      width: 100%
      height: 80px
      background-image: url(/img/waves/deepdarkblue.svg)
      background-size: cover
    &-bottom
      position: absolute
      bottom: -75px
      left: 0
      width: 100%
      height: 80px
      background-image: url(/img/waves/deepdarkblue.svg)
      background-size: cover
      transform: rotateX(180deg)
  &-deepwhite
    &-top
      position: absolute
      top: -75px
      left: 0
      width: 100%
      height: 80px
      background-image: url(/img/waves/deepwhite.svg)
      background-size: cover
    &-bottom
      position: absolute
      bottom: -75px
      left: 0
      width: 100%
      height: 80px
      background-image: url(/img/waves/deepwhite.svg)
      background-size: cover
      transform: rotateX(180deg)

.article
  &-thumbnail
    width: 100%
    @apply rounded-xl

.form
  &-input
    @apply py-2 px-4 border border-primary-hover rounded-xl w-full
    &:focus
      outline: none
    &-article-recommend
      @apply mt-3 bg-white border border-primary-hover rounded-xl overflow-hidden

.text
  &-justify
    text-align: justify

@media (max-width: 1599px)

@media (max-width: 1299px)
  .container
    @apply px-6
@media (max-width: 1199px)
  .section
    &-standart
      @apply py-12
      &-bottom
        @apply pb-12
    &-deepblue
      @apply py-12

  .navbar
    &-child
      margin-top: 50px
    &-wrapper
      @apply hidden
      &-sidebar
        background-color: $colorWhite
        box-shadow: rgb(67 197 158 / 30%) 0px 2px 12px
        left: -1199px
        transition: left 1s
        width: 80%
        @apply block fixed overflow-hidden top-0 h-full z-10
        &.show
          left: 0
        &-overlay
          content: ''
          left: -1199px
          transition: left 1s
          @apply fixed w-full h-full top-0 z-10
          background-color: rgba(67, 197, 158, .2)
          &.show
            left: 20px
    &-click
      @apply block

  .illustration
    &-hero
      & img
        width: 450px

  .waves
    &-deepblue
      &-top
        top: -60px
      &-bottom
        bottom: -60px
@media (max-width: 991px)
  .navbar
    &-wrapper
      &-sidebar
        left: -991px
        &-overlay
          left: -991px
@media (max-width: 959px)
  .action-wrapper
    @apply hidden
@media (max-width: 711px)
  .container
    @apply px-8

  .navbar
    &-wrapper
      &-sidebar
        left: -711px
        &-overlay
          left: -711px
  .action-wrapper
    @apply hidden